<div class="container mt-5">
  <h2>Course List</h2>

  <!-- Add Course Button -->
  <button class="btn btn-primary mb-3" (click)="navigateToAddCourse()">Add Course</button>

  <!-- Course List Table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.idCourse }}</td>
        <td>{{ course.courseName }}</td>
        <td>{{ course.coursePrice }}/Month</td>
        <td>
          <img [src]="getImageUrl(course.imageFile)" alt="{{ course.courseName }}" class="img-thumbnail" style="max-width: 100px; max-height: 100px;">
        </td>
        <td class="action-buttons">
          <div *ngIf="!confirmDeleteMessage">
            <button class="btn btn-sm btn-primary" (click)="toggleConfirmDelete(course.idCourse)">Delete</button>
            <button type="button" class="btn btn-success btn-sm" (click)="navigateToUpdateCourse(course.idCourse)">Update</button>
          </div>
          <div *ngIf="confirmDeleteMessage && courseIdToDelete === course.idCourse">
            <span>Are you sure?</span>
            <button class="btn btn-danger btn-sm" (click)="deleteCourse()">Yes</button>
            <button class="btn btn-secondary btn-sm" (click)="toggleConfirmDelete(0)">No</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>