<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Update Course</h2>
            
            <form [formGroup]="courseForm" (ngSubmit)="updateCourse()">
              <div class="form-group">
                <label for="courseName">Course Name</label>
                <input type="text" class="form-control" id="courseName" formControlName="courseName">
              </div>
            
              <div class="form-group">
                <label for="coursePrice">Course Price</label>
                <input type="text" class="form-control" id="coursePrice" formControlName="coursePrice">
              </div>
            
              <div class="form-group">
                <label for="imageFile">Course Image</label>
                <input type="file" id="imageFile" name="imageFile" class="form-control-file" (change)="onFileSelected($event)" accept="image/*" required>
                <div class="image-preview-container">
                  <img *ngIf="imageUrl" [src]="imageUrl" class="img-preview" />
                </div>
                <small class="form-text text-muted">Select an image file (JPG, PNG) with maximum size 5MB.</small>
              </div>            
              <button type="submit" class="btn btn-primary btn-block">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  